@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  :root {
    --radius: 0.625rem;
    --universal-background: #ffccff;
    --universal-foreground: #0400ff;
    --background: #f8f6fb;
    --foreground: #12001a;
    --muted: #e6e4eb;
    --muted-foreground: #6e6b7a;
    --popover: #f8f6fb;
    --popover-foreground: #12001a;
    --card: #f8f6fb;
    --card-foreground: #12001a;
    --border: #e6e4eb;
    --input: #e6e4eb;
    --primary: #a34fff;
    --primary-foreground: #ffffff;
    --secondary: #4fafff;
    --secondary-foreground: #ffffff;
    --accent: #ff4fff;
    --accent-foreground: #ffffff;
    --destructive: #a31a1a;
    --destructive-foreground: #f8b3b3;
    --ring: #a34fff;
    --chart-1: #a34fff;
    --chart-2: #4fafff;
    --chart-3: #ff4fff;
    --chart-4: #5fcaff;
    --chart-5: #a04fff;
  }

  .dark {
    --universal-background: #212142;
    --universal-foreground: rgb(255, 255, 255);
    --background: #12001a;
    --foreground: #f6f0ff;
    --muted: #1a1720;
    --muted-foreground: #b2a9c9;
    --popover: #12001a;
    --popover-foreground: #f6f0ff;
    --card: #12001a;
    --card-foreground: #f6f0ff;
    --border: #2a2033;
    --input: #2a2033;
    --primary: #a34fff;
    --primary-foreground: #ffffff;
    --secondary: #4fafff;
    --secondary-foreground: #ffffff;
    --accent: #ff4fff;
    --accent-foreground: #ffffff;
    --destructive: #ff3a3a;
    --destructive-foreground: #ffffff;
    --ring: #a34fff;
    --chart-1: #a34fff;
    --chart-2: #4fafff;
    --chart-3: #ff4fff;
    --chart-4: #5fcaff;
    --chart-5: #a04fff;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  /* 
  body {
    @apply bg-universal-b text-foreground;
  } */
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  background-color: var(--universal-background);
  color: var(--universal-foreground);
  /* overflow-x: hidden; */
}

/* Code for Firefox */
::-moz-selection {
  color: var(--color-white);
  background: var(--secondary-foreground);
}

::selection {
  color: var(--color-white);
  background: var(--secondary-foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 3.25rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}

h5 {
  font-size: 1.44rem;
}

h6 {
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  font-weight: 700;
  text-wrap: pretty;
}

p,
div,
span {
  font-size: 0.7rem;
}

@media only screen and (max-width: 720px) {
  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.074rem;
  }

  h4 {
    font-size: 0.728rem;
  }

  h5 {
    font-size: 0.44rem;
  }

  h6 {
    font-size: 0.2rem;
  }

  p,
  div,
  span {
    font-size: 0.8rem;
  }
}

p.small {
  font-size: 0.833rem;
}

div,
span,
p {
  line-height: 1.6;
  font-weight: 500;
  text-wrap: pretty;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  border: none;
  outline: none;
  font-size: 1rem;
  box-sizing: border-box;
  text-decoration: none;
  background-color: var(--color-background);
  color: var(--foreground);
  /* padding: 0.5rem; */
}

input::placeholder {
  border: none;
  outline: none;
  font-size: 1rem;
  box-sizing: border-box;
  /* padding-left: 0.5rem; */
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient {
  @apply bg-gradient-to-r from-primary to-secondary;
}

.gradient.red {
  @apply bg-gradient-to-r from-red-500 to-white;
}

.gradientText {
  background: linear-gradient(90deg, var(--primary), var(--secondary), var(--primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* For Firefox */
  color: transparent;
}

.textFont {
  font-size: 14px;
}

.coolLink {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.coolLink::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--foreground);
  transition: width 0.3s;
}

.coolLinkwhite::after {
  background: white;
}

.coolLinkblack::after {
  background: black;
}

.coolLink:hover::after {
  width: 100%;
}

.coolBackgroundEffect:hover {
  @apply bg-gradient-to-r from-primary to-secondary;
  color: white;
  border-radius: 10px;
}

@keyframes animate-dropdown {
  0% {
    opacity: 0;
    transform: translateY(-20px) scaleY(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

.animate {
  animation: animate-dropdown 0.3s cubic-bezier(0.22, 1, 0.36, 1);
  animation-fill-mode: both;
}

.gradientText2 {
  @apply: "text-xl font-bold mb-4 bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent";
}